<div>
  <h2 class="text-muted mb-4">Class 11</h2>

  <div class="row mb-4">
    <div class="col-md-12">
      <div class="card border-0 rounded-0">
        <div class="card-title mb-1 p-3">
          <h5>Study Materials</h5>
        </div>
        <div class="card-body">
          <div class="center">
            <iframe
              width="100%"
              height="100%"
              src="https://docs.google.com/spreadsheets/d/e/2PACX-1vSAhx5GJKO9vFy3uBk5MdMK-p6a6O3-Ncpli9uldKEInLwX5jKuqvq04AE2AfDGeUiX71OuspusfIbD/pubhtml?gid=0&amp;single=true&amp;widget=true&amp;headers=false"
              scrolling="no"
              height="500"
              frameborder="0"
              marginheight="0"
              marginwidth="0"
            >
            </iframe>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 mb-4">
      <div class="card border-0 rounded-0">
        <div class="card-title mb-1 p-3">
          <h5>Previous year papers</h5>
        </div>
        <div class="card-body">
          <div class="table-responsive-md">
            <div class="table-responsive">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>Borad</th>
                    <th></th>

                    <th>link</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>CBSE</td>
                    <td class="align-middle">
                      <div class="progress" style="height: 3px"></div>
                    </td>
                    <td>
                      <button
                        type="button"
                        class="btn btn-outline-info m-1 flex-fill rounded-0"
                        (click)="showError()"
                      >
                        Click Here!!
                      </button>
                    </td>
                  </tr>
                  <tr>
                    <td>ICSE</td>
                    <td class="align-middle">
                      <div class="progress" style="height: 3px"></div>
                    </td>
                    <td>
                      <button
                        type="button"
                        class="btn btn-outline-info m-1 flex-fill rounded-0"
                        (click)="showError()"
                      >
                        Click Here!!
                      </button>
                    </td>
                  </tr>
                  <tr>
                    <td>WBHSC</td>
                    <td class="align-middle">
                      <div class="progress" style="height: 3px"></div>
                    </td>
                    <td>
                      <button
                        type="button"
                        class="btn btn-outline-info m-1 flex-fill rounded-0"
                        (click)="showError()"
                      >
                        Click Here!!
                      </button>
                    </td>
                  </tr>
                  <tr></tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
