<div>
  <h4 class="mb-4 text-muted"></h4>

  <div class="row">
    <div class="col-md-6 col-lg-3 mb-4">
      <div class="card border-0 rounded-0">
        <div class="card-body">
          <div class="card-innerBody d-flex align-items-center">
            <div class="card-icon text-light">
              <i class="fa fa-cloud" aria-hidden="true"></i>
            </div>
            <div class="ml-auto">
              <p class="card-label text-right text-muted"></p>
              <h4 class="card-text text-right">Oxygen Supply Leads!</h4>
            </div>
          </div>
        </div>
        <div class="card-footer d-flex">
          <button
            type="button"
            class="btn btn-outline-info m-1 flex-fill rounded-0"
            (click)="oxygen()"
          >
            Click Here!!
          </button>
        </div>
      </div>
    </div>

    <div class="col-md-6 col-lg-3 mb-4">
      <div class="card border-0 rounded-0">
        <div class="card-body">
          <div class="card-innerBody d-flex align-items-center">
            <div class="card-icon text-light">
              <i class="fa fa-bed" aria-hidden="true"></i>
            </div>
            <div class="ml-auto">
              <p class="card-label text-right text-muted"></p>
              <h4 class="card-text text-right">Covid-19 Hospital beds!</h4>
            </div>
          </div>
        </div>
        <div class="card-footer d-flex">
          <button
            type="button"
            class="btn btn-outline-info m-1 flex-fill rounded-0"
            (click)="beds()"
          >
            Click Here!!
          </button>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-3 mb-4">
      <div class="card border-0 rounded-0">
        <div class="card-body">
          <div class="card-innerBody d-flex align-items-center">
            <div class="card-icon text-light">
              <i class="fa fa-car" aria-hidden="true"></i>
            </div>
            <div class="ml-auto">
              <p class="card-label text-right text-muted"></p>
              <h4 class="card-text text-right">Ambulances!</h4>
            </div>
          </div>
        </div>
        <div class="card-footer d-flex">
          <button
            type="button"
            class="btn btn-outline-info m-1 flex-fill rounded-0"
            (click)="ambulance()"
          >
            Click Here!!
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="video-container">
      <iframe
        width="916"
        height="515"
        src="https://www.youtube.com/embed/M_Ld8JGv56E"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
    </div>
  </div>
</div>
